@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');
@import '../../../node_modules/normalize.css/normalize.css';

html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background: white;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}